html {
  min-height: 100%;
  position: relative;
}
body {
  background-color: rgba(200, 200, 200, 0.116);
  margin: 0 auto;
}

.header {
  background-color: rgb(255, 255, 255);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.5);
}
.header__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__img {
  display: flex;
}
.header__img img {
  height: 55px;
  margin-left: 2em;
  align-self: center;
}
.header__img h2 {
  align-self: center;
  margin-left: -10px;
}
.header__menu {
  margin-right: 40px;
}
.header__menu ul {
  display: none;
  list-style: none;
  padding: 40px 0px 0px 0px;
  position: absolute;
  width: 120px;
  text-align: right;
  margin: 0px 0px 0px -14px;
}
.header__menu:hover ul,
ul:hover {
  display: block;
}
.header__menu li {
  margin: 10px 0;
}
.header__menu li a {
  color: black;
  text-decoration: none;
}
.header__menu li a:hover {
  text-decoration: underline;
}
.header__menu--profile {
  display: flex;
}

.main {
  /*   background-color: rgba(255, 0, 0, 0.219); */
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.main__title {
  margin: 0px;
}
.main__description {
  margin: 4px 0 35px;
  font-size: 1.3em;
}
.main div {
  display: flex;
  justify-content: center;
}
.input {
  width: 70%;
}
.inputsForm {
  width: 90%;
  height: 40px;
  outline: none;
}

.curt {
  /*   background-color: rgba(112, 173, 41, 0.219); */
  height: 400px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.ads {
  background-color: #ecbd3e;
  height: 90px;
  width: 50%;
  margin: 20px 0 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.result {
  /*   background-color: rgba(0, 128, 0, 0.301); */
  border: 1px solid black;
  padding: 20px;
}
.result a {
  color: gray;
  text-decoration: none;
}
.result a:hover {
  color: blue;
}
.result__date {
  border: 1px solid blue;
  text-align: center;
  padding: 0.2em;
  margin: 0;
  width: 20%;
}
.result__copy {
  display: flex;
}
.result__copy a {
  color: red;
  text-decoration: none;
}
.result__copy a:hover {
  color: red;
  text-decoration: underline;
}
.result__copy button {
  margin: 0 0 0 20px;
}

footer {
  background-color: rgba(0, 0, 0, 0.288);
  border-top: 1px solid rgba(128, 128, 128, 0.5);
  height: 40px;
  position: absolute;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  /* 
  justify-content: flex-end; */
  align-items: center;
}
.version {
  margin-left: 20px;
}
.finished a {
  margin: 10px;
  text-decoration: none;
  color: black;
}
.finished a:hover {
  text-decoration: underline;
}
.copywrite p {
  margin: 0 20px 0 40px;
  display: flex;
  align-items: center;
}
.copywrite img {
  margin: 0 0 0 2px;
}
.container {
  /*   border: 1px solid red; */
  width: 1440px;
  margin: 0 auto;
  height: inherit;
  display: inherit;
  align-items: inherit;
  justify-content: inherit;
  flex-direction: inherit;
}
