html,
body {
  margin: 0px;
  background-color: rgb(200, 200, 200);
  width: 100%;
}

.header {
  background-color: rgb(200, 200, 200);
  box-sizing: border-box;
  width: 100%;
  height: 80px;
  padding: 0.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__img {
  display: flex;
}
.header__img img {
  height: 55px;
  margin-left: 2em;
  align-self: center;
}
.header__img h2 {
  /*   align-self: center; */
  margin-left: -10px;
}
.header__menu {
  margin-right: 40px;
}
.header__menu ul {
  display: none;
  list-style: none;
  padding: 40px 0px 0px 0px;
  position: absolute;
  width: 120px;
  text-align: right;
  margin: 0px 0px 0px -14px;
}
.header__menu:hover ul,
ul:hover {
  display: block;
}
.header__menu li {
  margin: 10px 0;
}
.header__menu li a {
  color: black;
  text-decoration: none;
}
.header__menu li a:hover {
  text-decoration: underline;
}
.header__menu--profile {
  /*   margin-right: 8px;
  width: 40px; */
  display: flex;
}
.main {
  background-color: rgba(255, 0, 0, 0.219);
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.main__title {
  margin: 0px;
}
.main__description {
  margin: 4px 0 35px;
  font-size: 1.3em;
}
.main div {
  width: 80%;
  display: flex;
  justify-content: center;
}
.inputsForm {
  width: 60%;
  height: 40px;
}

.curt {
  background-color: rgba(112, 173, 41, 0.219);
  height: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.ads {
  background-color: rgba(128, 126, 0, 0.397);
  width: 728px;
  height: 90px;
  margin: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.result {
  background-color: rgba(0, 128, 0, 0.301);
  border: 1px solid black;
  padding: 20px;
}
.result a {
  color: gray;
  text-decoration: none;
}
.result a:hover {
  color: blue;
}
.result__date {
  border: 1px solid blue;
  width: 20%;
  text-align: center;
  padding: 0.2em;
  margin: 0;
}
.result__copy {
  display: flex;
}
.result__copy a {
  color: red;
  text-decoration: none;
}
.result__copy a:hover {
  color: red;
  text-decoration: underline;
}
.result__copy button {
  margin: 0 0 0 20px;
}
footer {
  background-color: rgba(94, 92, 205, 0.288);
  height: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.finished a {
  margin: 10px;
}
.copywrite p {
  margin: 0 20px 0 40px;
  display: flex;
  align-items: center;
}
